body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f3f4f6;
}

.app-container{
  display:flex;
  height:100vh;
}

/* SIDEBAR */

.sidebar{
  width:240px;
  background:#111827;
  color:white;
  padding:25px;
  display:flex;
  flex-direction:column;
}

.logo{
  margin-bottom:30px;
  font-size:20px;
  font-weight:bold;
}

/* MENU */

.menu{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.menu-item{
  color:white;
  text-decoration:none;
  padding:10px;
  border-radius:6px;
  transition:0.2s;
}

.menu-item:hover{
  background:#374151;
}

/* CONTENT */

.content{
  flex:1;
  padding:30px;
  overflow:auto;
}