body{
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#fdf6ec;
}

/* CONTAINER */

.container{
  display:flex;
  height:100vh;
}

/* SIDEBAR */

.sidebar{
  width:70px;
  background:#f59e0b;
  border-radius:0 20px 20px 0;
  padding:20px 10px;
  transition:0.3s;
  display:flex;
  flex-direction:column;
  align-items:center;
}

/* sidebar se expande */

.sidebar:hover{
  width:220px;
}

/* LOGO */

.logo{
  font-weight:bold;
  margin-bottom:40px;
  color:white;
}

/* MENU */

.menu{
  display:flex;
  flex-direction:column;
  gap:15px;
  width:100%;
}

/* ITEM */

.menu-item{
  display:flex;
  align-items:center;
  gap:10px;
  padding:12px;
  border-radius:12px;
  text-decoration:none;
  color:white;
  transition:0.2s;
}

.menu-item:hover{
  background:rgba(255,255,255,0.25);
}

/* ICON */

.icon{
  font-size:18px;
}

/* TEXTO OCULTO */

.text{
  opacity:0;
  transition:0.3s;
}

/* aparece cuando el menú se abre */

.sidebar:hover .text{
  opacity:1;
}

/* CONTENT */

.content{
  flex:1;
  padding:35px;
  overflow:auto;
}